<style>
  /* Styles for the table view */
  .cab-table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
  }

  .cab-table th,
  .cab-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }

  .cab-table th {
    background-color: #f4f4f4;
  }

  /* Styles for the card view */
  .cab-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 16px);
    /* Two cards per row with some margin */
    box-sizing: border-box;
    background-color: #fff;
  }

  .card ul {
    list-style-type: none;
    padding: 0;
  }

  .card li {
    margin-bottom: 8px;
  }

  .card button {
    margin-top: 8px;
  }

  button {
    margin-top: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-right: 1rem;
  }
</style>
<!-- Table view if showInTable is true -->
<table *ngIf="showInTable" class="cab-table">
  <thead>
    <tr>
      <th>Cab No</th>
      <th>Route</th>
      <th>Next Available At</th>
      <th>Seats Booked</th>
      <th *ngIf="getIfKeyCountValid()">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cab of cabList">
      <td>{{ cab.cabNo }}</td>
      <td>{{ cab.route }}</td>
      <td>{{ cab.nextAvailableAt }}</td>
      <td>{{ cab.numberOfSeatsBooked }}</td>
      <td *ngIf="getIfKeyCountValid()">
        <button *ngFor="let buttonConfig of extraButtonConfig" (click)="buttonConfig.handler(cab.cabNo)">{{
          buttonConfig.name
          }}</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Card view if showInTable is false -->
<div *ngIf="!showInTable" class="cab-list">
  <div *ngFor="let cab of cabList" class="card">
    <app-cab-details [cab]="cab" [extraButtonConfig]="extraButtonConfig" [showInTable]="showInTable"></app-cab-details>
  </div>
</div>